<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Directory</title>

    <!-- will load boostrap CSS styles -->
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet">
</head>
<body>
<br><br>
<div class="container">

    <h3>Employee Directory</h3>
    <hr>

    <!-- Add a button -->
    <a th:href="@{/employees/showFormForAdd}"
       class="btn btn-primary btn-sm mb-3">
        Add Employee
    </a>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <!-- loop over the list of employees and tempEmployee is the temporary loop variable -->
        <tr th:each="tempEmployee : ${employees}">
            <td th:text="${tempEmployee.firstName}" />
            <td th:text="${tempEmployee.lastName}" />
            <td th:text="${tempEmployee.email}" />

            <td>
                <div class="row">

                    <div class="col-small">
                        <!-- Add "update" button/link -->
                        <form action="#" th:action="@{/employees/showFormForUpdate}" method="POST">

                            <input type="hidden" name="employeeId" th:value="${tempEmployee.id}" />
                            <button type="submit" class="btn btn-info btn-sm me-1" style="float:left;">Update</button>

                        </form>

                        <!-- Add "delete" button/link -->
                        <form action="#" method="POST" th:action="@{/employees/delete}">

                            <input name="employeeId" th:value="${tempEmployee.id}" type="hidden"/>
                            <button class="btn btn-danger btn-sm"
                                    onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false"
                                    type="submit">
                                Delete
                            </button>

                        </form>
                    </div>

                </div>
            </td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>





